.btn {
    display: inline-block;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    background: $bright;
    border-radius: 4px;
    border: 1px solid $bright;
    transition: all .3s;
    &:hover {
        color: $bright;
        background: transparent;
        border: 1px solid $bright;
    }
    &--transparent {
        color: $bright;
        background: transparent;
        border: 1px solid $bright;
        &:hover {
            color: $white;
            background: $bright;
            border: 1px solid $bright;
        }
    }
}