.footer {
    &__inner {
        padding: 100px 0;
        border-top: 1px solid $light;
        display: flex;
        justify-content: space-between;
        @media (max-width: 800px) {            
            flex-wrap: wrap;
        }
        @media (max-width: 768px) {
            padding: 64px 0 32px;
        }
        @media (max-width: 576px) {
            justify-content: space-around;
        }
        @media (max-width: 380px) {
            justify-content: space-between;
        }
    }
    &__logo {
        @media (max-width: 576px) {
            flex-basis: 100%;
            margin-bottom: 32px;            
        }
    }
    &__logo-img {
        @media (max-width: 576px) {
            margin: 0 auto;         
        }
    }
    &__title {
        margin-bottom: 34px;
        max-width: 280px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: $title-color;
        @media (max-width: 800px) {
            max-width: 100%;
            margin-bottom: 8px;
        }
    }
    &__menu-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: $text-color;
        transition: all .3s;
        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 28px;
        }
        &:hover {
            color: $bright;
        }
    }
    &__form {
        @media (max-width: 800px) {
            margin: 32px auto 0;          
        }
    }
    &__form-input {
        margin-bottom: 22px;
        height: 48px;
        padding: 0 15px;
        border: 1px solid $light;        
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: $text-color;
        &::placeholder { 
            font-weight: 400;
            font-size: 16px;
            line-height: 48px;
            color: $light;
        }
        @media (max-width: 800px) {
            margin-bottom: 16px;         
        }
    }
    &__form-btn {
        padding: 11px 16px;
        @media (max-width: 800px) {
            width: 100%;         
        }
    }
}
