.header {
    &__inner {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        margin-left: auto;             
    }
    &__menu-toggle {        
        position: relative; 
        display: none;        
        width: 34px;
        height: 28px;
        @media (max-width: 768px) {
            display: flex;     
            align-items: center;
        }
    }
    &__menu-burger {
        height: 4px;
        width: 100%;
        background-color: $bright;
        border-radius: 4px;
        &::before {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: $bright;
            border-radius: 4px;
            top: 0;
        }
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: $bright;
            border-radius: 4px;
            bottom: 0;
        }
    }
    &__menu-list {        
        display: flex;
        @media (max-width: 768px) {
            display: none;     
        }
    }
    &__menu-item {
        margin-right: 24px;   
        @media (max-width: 1024px) {
            margin-right: 16px; 
        }     
    }
    &__menu-link {
        font-size: 14px;
        font-weight: 400;
        color: $title-color;
        transition: all .3s;
        &:hover {
            color: $bright;
        }
    }
    &__user {        
        display: flex;
        @media (max-width: 768px) {
            display: none;     
        }
    }
    &__btn {        
        padding: 11px 25px;
        @media (max-width: 1024px) {
            padding: 10px 20px;
        }  
        &:not(:last-child) {
            margin-right: 24px;
            @media (max-width: 1024px) {
                margin-right: 16px; 
            }     
        }
    }
}
