.header {
    &__inner {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        margin-left: auto;
    }
    &__user {
        margin-left: 53px;
        display: flex;
    }
    &__btn {
        margin-right: 14px;
        padding: 11px 25px;
        font-weight: 600;
    }
}
