.header {
    &__inner {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        margin-left: auto;
        @media (max-width: 800px) {
            display: none;     
        }
    }
    &__menu-list {        
        display: flex;
    }
    &__menu-item {
        margin-right: 24px;        
    }
    &__menu-link {
        font-size: 14px;
        font-weight: 400;
        color: $title-color;
        transition: all .3s;
        &:hover {
            color: $bright;
        }
    }
    &__user {        
        display: flex;
    }
    &__btn {        
        padding: 11px 25px;
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}
