.menu {
    &__list {        
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
    &__link {
        font-size: 14px;
        font-weight: 400;
        color: $title-color;
    }
}