.slider {
    margin: 0 -20px;
    &__item {
        padding: 0 20px 84px;
    }
    &__item-img {
        margin-bottom: 25px;
        width: 348px;
        height: 185px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    &__item-info {
        margin-bottom: 12px;
        font-weight: 400;
        line-height: 28px;
    }
    &__item-author {
        font-weight: 700;
        color: $text-color;
        &:hover {
            color: $bright;
        }
    }
    &__item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $title-color;
        transition: all .3s;
        &:hover {
            color: $bright;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots button {
    margin: 5px;
    width: 16px;
    height: 16px;
    font-size: 0;
    border-radius: 50%;
    border: none;
    background-color: $light;
}

.slick-dots .slick-active button {
    background-color: $bright;
}
