.team {
    &__wrapper {
        
        background-image: url('/src/images/team-bg.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    &__inner {   
        position: relative;
        padding: 230px 0 380px;     
        text-align: center;        
    }
    &__title {
        margin-bottom: 22px;
    }
    &__description {
        margin: 0 auto 45px;
        max-width: 542px;
    }
    &__btn {
        padding: 14px 30px;
        font-weight: 700;
    }
    &__item {
        position: absolute;
        &--1 {
            top: 157px;
            right: 92px;
        }
        &--2 {
            top: 223px;
            left: 0;
        }
        &--3 {
            bottom: 257px;
            right: 0;
        }
        &--4 {
            bottom: 233px;
            left: 211px;
        }
        &--5 {
            bottom: 135px;
            right: 362px;
        }
    }
    &__item-img {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }
    &__item-text {
        position: absolute;
        top: -35px;
        right: 63px;
        display: inline-block;
        padding: 14px 24px;
        background-color: $white;
        border-radius: 26.5px;
        box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
        white-space: nowrap;
        &::before {
            position: absolute;
            content: '';
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: $white;
            top: 45px;
            right: 30px;
        }
        &::after {
            position: absolute;
            content: '';
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: $white;
            top: 65px;
            right: 20px;
        }        
        &--left {
            right: auto;
            left: 63px;
            &::before {
                right: auto;
                left: 30px;
            }            
            &::after {
                right: auto;
                left: 20px;
            }            
        }
    }
}