/* Default style */
// :root {
//     font-size: 16px;
//     @media (max-width: 768px) {
//         font-size: 10px;
//     }
// }

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: $text-color;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

button {    
    cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]), textarea {
    display: block;
    width: 100%;
    resize: none;
    font-family: $fontFamily;
}