/* Fonts */
$fontFamily: 'Poppins', sans-serif;

/* Colors */
$white: #ffffff;
$light: #DCD2C4;
$bright: #FF9900;
$text-color: #544837;
$title-color: #2F281E;

/* Breakpoints */
$xxl: 1200px;
$xl: 1024px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xxs: 320px;