/* Text */
$fontFamily: 'Poppins', sans-serif;
$mainFontSize: 16px;
$mainFontWeight: 500;
$mainLineHeight: 1.625;

/* Colors */
$white: #ffffff;
$light: #BCD0E5;
$bright: #FF9900;
$text-color: #544837;
$title-color: #2F281E;