/* Text */
$fontFamily: 'Poppins', sans-serif;
$mainFontSize: 16px;
$mainFontWeight: 500;
$mainLineHeight: 1.625;

/* Colors */
$white: #ffffff;
$light: #edf4fb;
$pale: #cbdbe8;
$bright-light: #85c8ff;
$primary: #7581a1;
$primary-dark: #5a6789;
$dark: #192b59;

$bright: #FF9900;

$text-color: #544837;
$title-color: #2F281E;